<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jwt Token</title>
</head>
<body>
  <form action="/user/makejwt" method="post">
    <label >
      UserEmail: 
    </label>
    <input type="text" name="email">
    <br>
    <label >
      UserName: 
    </label>
    <input type="text" name="userName">
    <br>
    <label >
      UserTel: 
    </label>
    <input type="text" name="tel">
    <br>
    <label >
      Company: 
    </label>
    <input type="text" name="company">
    <br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>