<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
</head>
<body>
  <h1>User Profile Page</h1>
  <form id="entryForm" method="post" action="/user/entry">
    <label>
      아이디(메일주소):
    </label>
    <input type="text" id="userId" name="userId" value='<%= userData.userId %>'/><br>
    <label for="">
      암호: 
    </label>
    <input type="password" id="userPwd" name="userPwd"/><br>
    <label for="">
      암호확인:
    </label>
    <input type="password" id="userPwdConfirm" name="userPwdConfirm"/><br>
    <label for="">
      이름: 
    </label>
    <input type="text" id="userName" name="userName" value='<%= userData.userName %>'/><br>
    <label for="">
      전화번호: 
    </label>
    <input type="text" id="userPhone" name="userPhone"/><br>
    <input type="submit" value="회원가입" />
  </form>
</body>
</html>